.card {
  position: relative;
  text-align: left;
  margin-bottom: 30px;
  margin-top: 30px;
}

#jobDetails img {
  height: 250px;
  width: 500px;
  border-radius: 4px;
}

#jobDetails .card-title {
  font-size: 30px;
}

#jobDetails .card-text {
  font-size: 20px;
}

.card-title:hover {
  color: royalblue;
  font-weight: bold;
}

#jobDetails .card-button {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 18px;
  left: 20px;
  margin-right: 10px;
  font-size: 20px;
}

#jobDetails .like {
  margin-right: 30px;
}

#jobDetails .edit {
  margin-right: 30px;
}

.like,
.edit,
.delete {
  color: black;
  text-decoration: none;
  padding: 10px;
  background-color: whitesmoke;
  border: 1px solid;
  border-radius: 4px;
}

.like:hover {
  color: black;
  background-color: #c7c5f4;
}

.edit:hover {
  color: black;
  background-color: #c7c5f4;
}

.delete:hover {
  color: black;
  background-color: #c7c5f4;
}

/* .deleteMsg {
  font-size: 30px;
  color: red;
  font-weight: bold;
  text-align: center;
} */
